/*============================= Mixins that insert to end of class =============================*/

=mx-comp-bg($comp-bg)
  @if $comp-bg != false
    background: $comp-bg

=mx-comp-bg-c($comp-bg-c)
  @if $comp-bg-c != false
    background-color: $comp-bg-c

=mx-gui-color($gui-color)
  @if $gui-color != false
    color: $gui-color

=mx-border($border)
  @if $border != false
    border: $border

=mx-border-color($border-color)
  @if $border-color != false
    border-color: $border-color

=mx-text-fz($text-fz)
  @if $text-fz != false
    font-size: $text-fz

=mx-text-ff($text-ff)
  @if $text-ff != false
    font-family: $text-ff

=mx-text-fw($text-fw)
  @if $text-fw != false
    font-weight: $text-fw

=mx-text-lts($text-lts)
  @if $text-lts != false
    letter-spacing: $text-lts

=mx-text-lh($text-lh)
  @if $text-lh != false
    line-height: $text-lh

=mx-text($ff: false,$fz: false,$fw: false,$lts: false,$lh: false)
  +mx-text-ff($ff)
  +mx-text-fz($fz)
  +mx-text-fw($fw)
  +mx-text-lts($lts)
  +mx-text-lh($lh)

=mx-position($top: auto,$right: auto,$bottom: auto,$left: auto)
  left: $left
  top: $top
  right: $right
  bottom: $bottom

/*==========================================================================================*/

=mx-burger ($width: $burger-width,$height: $burger-height,$color: $burger-color,$color-hover: $burger-hover,$color-active: $burger-active,$border:$burger-border)
  position: relative
  width: $width
  height: $height
  color: $color
  cursor: pointer
  display: block

  &:hover,
  &:active
    color: $color-hover

  &:before,
  &:after
    content: ''

  &:before,
  &:after,
  div
    position: absolute
    left: 50%
    width: 100%
    border-top: $border solid

  &:before
    top: 0
    transform: translateX($s50)
    transition: ease .2s

  &:after
    top: 50%
    transform: translate($s50, $s50)
    transition: ease .2s

  div
    bottom: 0
    transform: translateX($s50)
    transition: ease .2s

  &.js-active
    color: $color-active

    &:hover,
    &:active
      color: $color-active

    &:before
      top: 50%
      transform: translateX($s50) rotateZ(45deg)
      transition: ease .3s

    &:after
      transform: translateX($s50) rotateZ(-45deg)
      transition: ease .3s

    div
      transform: translate($s50, 10px)
      opacity: 0
      transition: ease .3s

    &:before,
    &:after,
    div
      border-top: $border solid

=mx-box($width: $sitewidth,$width-small: $siteInnerwidth,$padding: 3rem)
  max-width: $width + 2*$padding
  padding: 0 $padding
  margin: 0 auto
  width: 100%

  @media (max-width: $pad)
    padding-left: $padding - 1rem
    padding-right: $padding - 1rem

  &-small
    max-width: $width-small
    padding: 0 $padding
    margin: 0 auto
    width: 100%

    @media (max-width: $pad)
      padding-left: $padding - 1rem
      padding-right: $padding - 1rem

=mx-transition($duration: .3s)
  transition: ease $duration

=mx-btn($color:$btn-c,$color-h:$btn-c-h,$color-a:$btn-c-a,$color-d:$btn-c-d,$border: $btn-border,$border-r: $btn-radius,$border-c: $btn-border-c,$border-c-h: $btn-border-c-h,$border-c-a: $btn-border-c-a,$border-c-d: $btn-border-c-d,$width: $btn-w,$height: $btn-h,$ff:$btn-ff,$fz:$btn-fz,$fw:$btn-fw,$lts:$btn-lts,$lh:$btn-lh,$padding: $btn-p,$top:0,$bg: $btn-bg,$bg-c-a: $btn-bg-a,$bg-c-h: $btn-bg-h,$bg-c-d: $btn-bg-d)
  display: inline-flex
  justify-content: center
  align-items: center
  min-width: $width
  height: $height
  color: $color
  padding: $padding
  text-decoration: none
  margin-top: $top
  background: $bg
  border-radius: $border-r
  +mx-comp-bg-c($bg)
  +mx-border($border)
  +mx-text($ff: $ff,$fz: $fz,$fw: $fw,$lts:$lts,$lh: $lh)

  &:hover
    color: $color-h
    +mx-border-color($border-c-h)
    +mx-comp-bg-c($bg-c-h)

  &:active
    color: $color-a
    +mx-border-color($border-c-a)
    +mx-comp-bg-c($bg-c-a)

  &:disabled
    color: $color-d
    +mx-border-color($border-c-d)
    +mx-comp-bg-c($bg-c-d)