@import "../config/general"

@import "../components/header"
@import "../components/footer"

.error
  text-align: center

  &__404
    font-size: 12rem

  &__oops
    font-size: 18px

  &__btn
    +mx-btn($top: 3rem)