@import "../config/general"

@import "../components/header"
@import "../components/footer"
@import "../template/bread"
@import "../components/gui"

.faq
  li
    padding-left: 1rem
    font-size: 1.8rem
    margin-top: 1rem