@import "../config/general"

@import "../components/slider"
@import "../components/form"
@import "../components/advantages"
@import "../components/news"
@import "../components/slick"
@import "../components/footer"
@import "../components/header"

.page-home
  min-height: 100vh

.first
  position: relative

.news
  padding: 5rem 0
  text-align: center
  +mx-comp-bg($bg-news)
  +mx-comp-bg-c($bg-c-news)

  &__title
    +mx-text($ff: $news-ff, $fz: $news-fz, $fw: $news-fw, $lts: $news-lts, $lh: $news-lh)

    color: $news-color
    text-align: $news-pos

    @media (max-width: $padmini)
      font-size: $news-fz*.8

  &__btn
    +mx-btn($top: 5rem)

.demo
  padding: 5rem 0
  +mx-comp-bg($bg-demo)
  +mx-comp-bg-c($bg-c-demo)

  &__title
    +mx-text($ff: $demo-ff, $fz: $demo-fz, $fw: $demo-fw, $lts: $demo-lts, $lh: $demo-lh)

    color: $demo-color
    text-align: $demo-pos

    @media (max-width: $padmini)
      font-size: $demo-fz*.8

  &__form
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    @media (max-width: $padmini)
      max-width: $form-width
      width: 100%
      margin: 0 auto

    .form
      &__row
        width: 48%

        &.terms
          width: 100%

        @media (max-width: $padmini)
          width: 100%