@import "../config/general"

@import "../components/form"

.lead
  &__box
    min-height: 100vh
    position: relative
    padding-top: 5rem
    padding-bottom: 5rem
    display: flex
    justify-content: center
    align-items: center

  &__form
    width: 100%
    max-width: 40rem

    &--title
      font-size: 3rem
      text-align: center

    &--close
      width: 2rem
      height: 2rem
      position: absolute
      top: 10vh
      right: 2rem
      cursor: pointer

      &:before,
      &:after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        height: 5px
        width: 100%
        border-radius: 2px
        background: #000
        transition: all .4s

      &:after
        transform: translate(-50%, -50%) rotate(45deg)

      &:before
        transform: translate(-50%, -50%) rotate(-45deg)

      &:hover
        &:before, &:after
          background: #939393