@import "../config/general"

@import "../components/header"
@import "../components/footer"
@import "../template/bread"
@import "../template/pagination"
@import "../components/news"

.news
  padding-top: 2rem
  padding-bottom: 5rem

  &__title
    +mx-text($ff: $h1-ff, $fz: $h1-fz, $fw: $h1-fw, $lts: $h1-lts, $lh: $h1-lh)
    +mx-gui-color($h1)

  &__item
    width: $news-all-item-w