@import "../config/general"

@import "../components/header"
@import "../components/footer"

.thank
  text-align: center
  display: flex
  align-items: center
  justify-content: center
  min-height: calc(40vh - 5rem)

  &__title
    +mx-text($ff: $thank-title-ff, $fz: $thank-title-fz, $fw: $thank-title-fw, $lts: $thank-title-lts, $lh: $thank-title-lh)
    color: $thank-title-color

  &__subtitle
    +mx-text($ff: $thank-subtitle-ff, $fz: $thank-subtitle-fz, $fw: $thank-subtitle-fw, $lts: $thank-subtitle-lts, $lh: $thank-subtitle-lh)
    color: $thank-subtitle-color
    margin-top: $thank-subtitle-mt

  &__btn
    +mx-btn($top: $thank-btn-mt)