@import "../config/general"

@import "../components/header"
@import "../components/footer"
@import "../template/bread"

.wiki
  padding-top: 2rem
  padding-bottom: 5rem

  &__title
    +mx-text($ff: $h1-ff, $fz: $h1-fz, $fw: $h1-fw, $lh: $h1-lh, $lts: $h1-lts)
    +mx-gui-color($h1)

  &__alf
    padding: $wiki-alf-p

    &.fixed
      position: fixed
      top: 0
      left: 0
      width: 100%
      +mx-comp-bg($wiki-alf-bg)

      ul
        padding: 0 3rem

      + *
        margin-top: $wiki-block-mt-fixed

    &--list
      display: flex
      justify-content: space-between
      text-transform: uppercase
      flex-wrap: wrap
      max-width: $wiki-alf-w
      width: 100%
      margin: 0 auto

      li
        &:not(:last-child)
          margin-right: 1.5rem

        &.active
          a
            color: $wiki-alf-a-active-c
            text-decoration: $wiki-alf-a-active-td

        font-size: 18px

      a
        +mx-text($ff: $wiki-alf-a-ff, $fz: $wiki-alf-a-fz, $fw: $wiki-alf-a-fw, $lts: $wiki-alf-a-lts, $lh: $wiki-alf-a-lh)
        color: $wiki-alf-a-color
        text-decoration: $wiki-alf-a-td

        &:hover
          color: $wiki-alf-a-hover-c
          text-decoration: $wiki-alf-a-hover-td

        &:active
          color: $wiki-alf-a-active-c
          text-decoration: $wiki-alf-a-active-td

      span
        +mx-text($ff: $wiki-alf-a-ff, $fz: $wiki-alf-a-fz, $fw: $wiki-alf-a-fw, $lh: $wiki-alf-a-lh, $lts: $wiki-alf-a-lts)
        +mx-gui-color($wiki-alf-span-color)

        cursor: no-drop

  &__block
    margin-top: $wiki-block-mt

    &--list
      &:not(:first-child)
        margin-top: $wiki-letter-mt

    &--letter
      +mx-text($ff: $wiki-letter-ff, $fz: $wiki-letter-fz, $fw: $wiki-letter-fw, $lh: $wiki-letter-lh, $lts: $wiki-letter-lts)
      text-transform: uppercase
      +mx-gui-color($wiki-letter-color)

    &--word
      margin-top: 1.5rem

      a
        +mx-text($ff: $wiki-word-ff, $fz: $wiki-word-fz, $fw: $wiki-word-fw, $lts: $wiki-word-lts, $lh: $wiki-word-lh)
        color: $wiki-word-color
        text-decoration: $wiki-word-td

        span
          +mx-text($ff: $wiki-word-en-ff, $fz: $wiki-word-en-fz, $fw: $wiki-word-en-fw, $lts: $wiki-word-en-lts, $lh: $wiki-word-en-lh)
          padding-left: $wiki-word-en-pl
          color: $wiki-word-en-color
          text-decoration: $wiki-word-en-td

        &:hover
          color: $wiki-word-hover-c
          text-decoration: $wiki-word-hover-td

          span
            color: $wiki-word-en-hover-c
            text-decoration: $wiki-word-en-hover-td

        &:active
          color: $wiki-word-active-c
          text-decoration: $wiki-word-active-td

          span
            color: $wiki-word-en-hover-c
            text-decoration: $wiki-word-en-hover-td

    &--desc
      margin-top: $wiki-desc-mt

    &--desc,
    &--desc p,
    &--desc span
      +mx-text($ff: $wiki-desc-ff, $fz: $wiki-desc-fz, $fw: $wiki-desc-fw, $lts: $wiki-desc-lts, $lh: $wiki-desc-lh)
      color: $wiki-desc-color