.breadcrumbs
  display: flex
  flex-wrap: wrap
  padding: $bread-p

  a
    +mx-text($ff: $bread-link-ff,$fz: $bread-link-fz,$fw: $bread-link-fw,$lts: $bread-link-lts,$lh: $bread-link-lh)
    color: $bread-link-color
    text-decoration: $bread-link-td

    &:hover
      color: $bread-link-hover-c
      text-decoration: $bread-link-hover-td

    &:active
      color: $bread-link-active-c
      text-decoration: $bread-link-active-td

  li
    display: inline-block
    margin-right: $bread-link-mr
    position: relative

    &:not(:first-child)
      a
        &:before
          content: '/'
          position: absolute
          left: -1.9rem

    &:last-child
      margin-right: 0

      a
        +mx-text($ff: $bread-link-title-ff,$fz: $bread-link-title-fz,$fw: $bread-link-title-fw,$lts: $bread-link-title-lts,$lh: $bread-link-title-lh)
        color: $bread-link-title-color
        text-decoration: $bread-link-title-td

        &:hover
          color: $bread-link-title-hover-c
          text-decoration: $bread-link-title-hover-td


        &:active
          color: $bread-link-title-active-c
          text-decoration: $bread-link-title-active-td