.pagination
  display: flex
  align-items: center
  justify-content: center
  margin-top: $pag-mt

  &-a
    margin: $pag-a-m

    a
      +mx-text($ff: $pag-a-ff,$fz: $pag-a-fz,$fw: $pag-a-fw,$lts: $pag-a-lts,$lh: $pag-a-lh)
      color: $pag-a-color
      text-decoration: $pag-a-td

      &:hover
        color: $pag-a-hover-c
        text-decoration: $pag-a-hover-td

      &:active
        color: $pag-a-active-c
        text-decoration: $pag-a-active-td

    &.active
      a
        color: $pag-a-active-c
        text-decoration: $pag-a-active-td

  &-prev
    margin-right: $pag-prev-ml

  &-next
    margin-left: $pag-next-mr

  .disabled
    a
      color: $pag-a-disabled-c
      text-decoration: $pag-a-disabled-td
      cursor: no-drop