.advantages
  padding: 5rem 0
  +mx-comp-bg($bg-advantages)
  +mx-comp-bg-c($bg-c-advantages)

  &__title
    +mx-text($ff: $advantages-ff, $fz: $advantages-fz, $fw: $advantages-fw, $lts: $advantages-lts, $lh: $advantages-lh)
    text-align: $advantages-pos

    @media (max-width: $padmini)
      font-size: $advantages-fz*.8

  &__list
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-top: $advantages-list-mt

  &__item
    width: $advantages-item-w
    +mx-comp-bg-c($advantages-item-bg-c)
    text-align: center
    padding: $advantages-item-p
    margin-bottom: $advantages-item-mb
    position: relative
    +mx-border($advantages-item-b)
    +mx-border-color($advantages-item-b-c)

    &.last
      opacity: 0

    @media (max-width: $news-media-laptop)
      width: $news-laptop-w

    @media (max-width: $news-media-pad)
      width: $news-pad-w

    @media (max-width: $news-media-mobile)
      width: $news-mobile-w

  &__img
    max-width: 100%
    margin: 0 auto

  &__text
    +mx-text($ff: $advantages-text-ff, $fz: $advantages-text-fz, $fw: $advantages-text-fw, $lts: $advantages-text-lts, $lh: $advantages-text-lh)
    color: $advantages-text-color
    margin-top: $advantages-text-mt

  &__num
    position: absolute
    +mx-position($advantages-num-top, $advantages-num-right, $advantages-num-bottom, $advantages-num-left)
    +mx-text($ff: $advantages-num-ff, $fz: $advantages-num-fz, $fw: $advantages-num-fw, $lts: $advantages-num-lts, $lh: $advantages-num-lh)
    color: $advantages-num-color

  @if $advantages-img != false
    @for $i from 1 through length($advantages-img)
      &-#{$i}
        +sprite(nth($advantages-img, $i))