.footer
  padding: 5rem 0
  +mx-comp-bg($bg-footer)
  +mx-comp-bg-c($bg-c-footer)

  &__box
    display: flex
    justify-content: space-between
    flex-wrap: wrap

  &__left
    width: $footer-box-left

    @media (max-width: $padmini)
      width: 100%

  &__right
    width: $footer-box-right

    @media (max-width: $padmini)
      width: 100%

  &__contact
    margin-top: $footer-contact-mt

    > * + *
      margin-top: $footer-contact-child-mt

  &__tel
    a
      +mx-text($fz: $footer-tel-fz, $ff: $footer-tel-ff, $fw: $footer-tel-fw, $lts: $footer-tel-lts, $lh: $footer-tel-lh)
      color: $footer-tel-color
      text-decoration: $footer-tel-td

      &:hover
        color: $footer-tel-hover-c
        text-decoration: $footer-tel-hover-td

      &:active
        color: $footer-tel-active-c
        text-decoration: $footer-tel-active-td

  &__email
    a
      +mx-text($ff: $footer-email-ff, $fz: $footer-email-fz, $fw: $footer-email-fw, $lts: $footer-email-lts, $lh: $footer-email-lh)
      color: $footer-email-color
      text-decoration: $footer-email-td

      &:hover
        color: $footer-email-hover-c
        text-decoration: $footer-email-hover-td

      &:active
        color: $footer-email-active-c
        text-decoration: $footer-email-active-td

  &__addr
    +mx-text($ff: $footer-addr-ff, $fz: $footer-addr-fz, $fw: $footer-addr-fw, $lts: $footer-addr-lts, $lh: $footer-addr-lh)
    color: $footer-addr-color

  &__doc
    margin-top: $footer-doc-mt

    @media (max-width: $padmini)
      display: flex
      justify-content: space-around
      flex-wrap: wrap

    > * + *
      margin-top: $footer-doc-child-mt

    > *
      @media (max-width: $padmini)
        margin-left: 1rem
        margin-right: 1rem
        margin-top: $footer-doc-child-mt

    a
      +mx-text($ff: $footer-doc-ff, $fz: $footer-doc-fz, $fw: $footer-doc-fw, $lts: $footer-doc-lts, $lh: $footer-doc-lh)
      color: $footer-doc-color
      text-decoration: $footer-doc-td

      &:hover
        color: $footer-doc-hover-c
        text-decoration: $footer-doc-hover-td

      &:active
        color: $footer-doc-active-c
        text-decoration: $footer-doc-active-td

  &__menu
    display: flex
    justify-content: space-between

    @media (max-width: 1050px)
      display: none

    ul > * + *
      margin-top: $footer-menu-child-mt

    li
      &:first-child
        margin-bottom: $footer-menu-fch-mb

        a
          +mx-text($ff: $footer-menu-fch-ff, $fz: $footer-menu-fch-fz, $fw: $footer-menu-fch-fw, $lts: $footer-menu-fch-lts, $lh: $footer-menu-fch-lh)
          color: $footer-menu-fch-color
          text-decoration: $footer-menu-fch-td

          &:hover
            color: $footer-menu-fch-hover-c
            text-decoration: $footer-menu-fch-hover-td

          &:active
            color: $footer-menu-fch-active-c
            text-decoration: $footer-menu-fch-active-td

      a
        +mx-text($ff: $footer-menu-ff, $fz: $footer-menu-fz, $fw: $footer-menu-fw, $lts: $footer-menu-lts, $lh: $footer-menu-lh)
        color: $footer-menu-color
        text-decoration: $footer-menu-td

        &:hover
          color: $footer-menu-hover-c
          text-decoration: $footer-menu-hover-td

        &:active
          color: $footer-menu-active-c
          text-decoration: $footer-menu-active-td

  &__terms
    margin-top: $footer-terms-mt

    @media (max-width: 1050px)
      margin-top: 0

      > *:first-child
        margin-top: 0

    @media (max-width: $padmini)
      margin-top: $footer-terms-mt

    > * + *
      margin-top: .5rem

    h4
      margin-top: $footer-terms-h4-mt
      +mx-text($ff: $footer-terms-h4-ff, $fz: $footer-terms-h4-fz, $fw: $footer-terms-h4-fw, $lts: $footer-terms-h4-lts, $lh: $footer-terms-h4-lh)
      color: $footer-terms-h4-color

    p
      margin-top: $footer-terms-p-mt
      +mx-text($ff: $footer-terms-p-ff, $fz: $footer-terms-p-fz, $fw: $footer-terms-p-fw, $lts: $footer-terms-p-lts, $lh: $footer-terms-p-lh)
      color: $footer-terms-p-color

  &__copy
    margin-top: $footer-copy-mt
    +mx-text($ff: $footer-copy-ff, $fz: $footer-copy-fz, $fw: $footer-copy-fw, $lts: $footer-copy-lts, $lh: $footer-copy-lh)
    color: $footer-copy-color