.form
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  &__row
    width: 100%
    position: relative
    margin-top: $input-mt

  &__input
    width: 100%
    height: $input-height
    padding: 0 $input-pl
    transition: all .4s

    +mx-comp-bg-c($input-bg)
    +mx-border($input-border)
    +mx-text($ff: $input-ff, $fz: $input-fz, $fw: $input-fw, $lh: $input-lh, $lts: $input-lts)

    &:focus
      color: $input-c-f
      +mx-border-color($input-border-f)
      +mx-comp-bg-c($input-bg-f)

    &.valid
      color: $input-c-v
      +mx-border-color($input-border-v)
      +mx-comp-bg-c($input-bg-v)

    &.error
      color: $input-c-e
      +mx-border-color($input-border-e)
      +mx-comp-bg-c($input-bg-e)

    &:focus, &.valid, &.error
      + label
        font-size: $input-fz - 2px
        top: -$input-mt/2

    &:focus + label
      color: $label-c-f

    &.valid + label
      color: $label-c-v

    &.error + label
      color: $label-c-e

  &__label
    position: absolute
    z-index: 1
    top: 50%
    transform: translateY($s50) translateZ(-1px)
    left: $input-pl
    font-size: $input-fz
    transition: all .4s
    color: $label-c

    +mx-text($ff: $label-ff, $fz: $label-fz, $fw: $label-fw, $lh: $label-lh, $lts: $label-lts)

  &__terms
    color: $terms-c
    +mx-text($ff: $terms-ff, $fz: $terms-fz, $fw: $terms-fw, $lh: $terms-lh, $lts: $terms-lts)

  .select
    display: flex
    align-items: center

  &__btn
    +mx-btn($color: $form-btn-c, $color-h: $form-btn-c-h, $color-a: $form-btn-c-a, $color-d: $form-btn-c-d, $border: $form-btn-border, $border-r: $form-btn-radius, $border-c: $form-btn-border-c, $border-c-h: $form-btn-border-c-h, $border-c-a: $form-btn-border-c-a, $border-c-d: $form-btn-border-c-d, $width: $form-btn-w, $height: $form-btn-h, $ff: $form-btn-ff, $fz: $form-btn-fz, $fw: $form-btn-fw, $lts: $form-btn-lts, $lh: $form-btn-lh, $padding: $form-btn-p, $top: $form-btn-top, $bg: $form-btn-bg, $bg-c-a: $form-btn-bg-a, $bg-c-h: $form-btn-bg-h, $bg-c-d: $form-btn-bg-d)

  .terms
    input
      display: none

      &:checked
        + label:after
          display: block

    label
      position: relative
      padding-left: 2.5rem

      $labelH: 1.6rem

      &:before
        content: ''
        width: $labelH
        height: $labelH
        display: block
        position: absolute
        left: 0
        top: 50%
        transform: translateY($s50)
        +mx-border(1px solid #ccc)

      &:after
        content: ''
        position: absolute
        display: none
        width: 1rem
        height: 1rem
        top: 50%
        left: $labelH/2
        transform: translate($s50, $s50)
        +mx-comp-bg-c(#939393)