.gui
  padding-top: 2rem
  padding-bottom: 5rem

  &__date
    font-size: 18px

  &__img
    margin-right: 3rem
    margin-bottom: 3rem
    max-width: 55rem
    width: 100%
    float: left

    @media (max-width: $padmini)
      float: none
      margin-left: auto
      margin-right: auto
      display: block

  > * + *
    margin-top: 2rem

  ol
    list-style-type: decimal
    padding-left: 3.2rem

  ul
    list-style-type: disc
    padding-left: 3.6rem

  li
    margin-top: .5rem

  h1
    +mx-text($ff: $h1-ff, $fz: $h1-fz, $fw: $h1-fw, $lts: $h1-lts, $lh: $h1-lh)
    +mx-gui-color($h1)

  h2
    +mx-text($ff: $h2-ff, $fz: $h2-fz, $fw: $h2-fw, $lts: $h2-lts, $lh: $h2-lh)
    +mx-gui-color($h2)

  h3
    +mx-text($ff: $h3-ff, $fz: $h3-fz, $fw: $h3-fw, $lts: $h3-lts, $lh: $h3-lh)
    +mx-gui-color($h3)

  h4
    +mx-text($ff: $h4-ff, $fz: $h4-fz, $fw: $h4-fw, $lts: $h4-lts, $lh: $h4-lh)
    +mx-gui-color($h4)

  h5
    +mx-text($ff: $h5-ff, $fz: $h5-fz, $fw: $h5-fw, $lts: $h5-lts, $lh: $h5-lh)
    +mx-gui-color($h5)

  h6
    +mx-text($ff: $h6-ff, $fz: $h6-fz, $fw: $h6-fw, $lts: $h6-lts, $lh: $h6-lh)
    +mx-gui-color($h6)

  p
    +mx-text($ff: $p-ff, $fz: $p-fz, $fw: $p-fw, $lts: $p-lts, $lh: $p-lh)
    +mx-gui-color($p)

  span
    +mx-gui-color($span)

  a
    +mx-text($ff: $a-ff, $fz: $a-fz, $fw: $a-fw, $lts: $a-lts, $lh: $a-lh)
    color: $a-color

    &:hover
      color: $a-color-hover

    &:active
      color: $a-color-active

    &.btn
      +mx-btn($color: $gui-btn-c, $color-h: $gui-btn-c-h, $color-a: $gui-btn-c-a, $color-d: $gui-btn-c-d, $border: $gui-btn-border, $border-r: $gui-btn-radius, $border-c: $gui-btn-border-c, $border-c-h: $gui-btn-border-c-h, $border-c-a: $gui-btn-border-c-a, $border-c-d: $gui-btn-border-c-d, $width: $gui-btn-w, $height: $gui-btn-h, $ff: $gui-btn-ff, $fz: $gui-btn-fz, $fw: $gui-btn-fw, $lts: $gui-btn-lts, $lh: $gui-btn-lh, $padding: $gui-btn-p, $top: $gui-btn-top, $bg: $gui-btn-bg, $bg-c-a: $gui-btn-bg-a, $bg-c-h: $gui-btn-bg-h, $bg-c-d: $gui-btn-bg-d)