=mx-header($header)
  @if $header == 1
    &__logo
      margin-right: $header-logo-mr

      img
        width: $header-logo-w

    &__box
      display: flex
      justify-content: space-between
      align-items: center

    &__menu
      display: flex
      justify-content: space-between
      max-width: $header-menu-w
      width: 100%

      @media (max-width: $desktop)
        width: auto

      > li
        position: relative
        padding: 0 1rem

        > a
          +mx-text($ff: $header-menu-a-ff, $fz: $header-menu-a-fz, $fw: $header-menu-a-fw, $lts: $header-menu-a-lts, $lh: $header-menu-a-lh)
          color: $header-menu-a-color
          text-decoration: $header-menu-a-td

          &:hover
            color: $header-menu-a-hover-c
            text-decoration: $header-menu-a-hover-td

          &:active
            color: $header-menu-a-active-c
            text-decoration: $header-menu-a-active-td

        &:hover
          ul
            display: block

      a
        +mx-text($ff: $header-submenu-a-ff, $fz: $header-submenu-a-fz, $fw: $header-submenu-a-fw, $lts: $header-submenu-a-lts, $lh: $header-submenu-a-lh)
        color: $header-submenu-a-color
        text-decoration: $header-submenu-a-td
        white-space: nowrap

        &:hover
          color: $header-submenu-a-hover-c
          text-decoration: $header-submenu-a-hover-td

        &:active
          color: $header-submenu-a-active-c
          text-decoration: $header-submenu-a-active-td

      ul
        position: absolute
        left: 50%
        transform: translateX($s50)
        top: 100%
        padding: $header-submenu-p
        display: none
        +mx-comp-bg-c($header-submenu-bg)

        > * + *
          margin-top: $header-submenu-a-mt

      @media (max-width: $header-menu-media-hide)
        position: absolute
        left: 0
        top: 0
        transform: translateX(-100%)
        transition: all .4s
        +mx-comp-bg-c($header-menu-bg-pad)
        z-index: 21
        display: block
        padding: $header-p-pad
        height: 100vh
        overflow: auto

        a
          +mx-text-fz($header-menu-a-ff-pad)

        ul
          display: block
          position: relative
          padding: $header-submenu-p-pad

          a
            +mx-text-fz($header-submenu-a-ff-pad)

        &.js-active
          transform: translateX(0)

    &__burger
      +mx-burger()
      margin-left: $burger-ml

      @media(min-width: $burger-media-show)
        display: none

    &__right
      display: flex
      align-items: center

    &__icon
      +sprite($user)
      filter: grayscale(100%) brightness(1.5)
      display: none
      transition: all .4s

      &:hover
        filter: none

      &.active
        filter: none

      @media (max-width: $mobile)
        display: block

    @media (max-width: $mobile)
      &:before
        content: ''
        display: block
        position: absolute
        top: 0
        left: 0
        background: $bg-c-header
        width: 100%
        height: 100%
        z-index: -1

      &__enter
        position: absolute
        top: 100%
        width: 100%
        left: 0
        display: flex
        align-items: center
        justify-content: center
        background: $bg-c-header
        padding: $header-enter-p
        transform: translateY(-100%)
        z-index: -2
        transition: all .4s

        &.active
          transform: translateY(0)

    &__login
      +mx-text($ff: $header-login-ff, $fz: $header-login-fz, $fw: $header-login-fw, $lts: $header-login-lts, $lh: $header-login-lh)
      color: $header-login-color
      text-decoration: $header-login-td
      margin-left: $header-login-ml

      &:hover
        color: $header-login-hover-c
        text-decoration: $header-login-hover-td

      &:active
        color: $header-login-active-c
        text-decoration: $header-login-active-td

    &__register
      +mx-text($ff: $header-register-ff, $fz: $header-register-fz, $fw: $header-register-fw, $lts: $header-register-lts, $lh: $header-register-lh)
      color: $header-register-color
      text-decoration: $header-register-td
      margin-left: $header-register-ml

      &:hover
        color: $header-register-hover-c
        text-decoration: $header-register-hover-td

      &:active
        color: $header-register-active-c
        text-decoration: $header-register-active-td

    &__lang
      position: relative
      margin-left: $header-lang-curr-ml

      span:last-child
        padding-left: 1rem
        text-transform: uppercase
        line-height: 1
        padding-top: 1px

        +mx-text($ff: $header-lang-curr-ff, $fz: $header-lang-curr-fz, $fw: $header-lang-curr-fw, $lts: $header-lang-curr-lts, $lh: $header-lang-curr-lh)
        color: $header-lang-curr-color
        text-decoration: $header-lang-curr-td

      &--current
        cursor: pointer
        display: flex
        align-items: center

      &--list
        position: absolute
        left: 50%
        transform: translateX($s50)
        top: 100%
        padding: $header-lang-list-p
        +mx-comp-bg-c($bg-c-header)
        display: none

        a
          white-space: nowrap
          display: flex
          align-items: center
          +mx-text($ff: $header-lang-ff, $fz: $header-lang-fz, $fw: $header-lang-fw, $lts: $header-lang-lts, $lh: $header-lang-lh)
          color: $header-lang-color
          text-decoration: $header-lang-td

          &:hover
            color: $header-lang-hover-c
            text-decoration: $header-lang-hover-td

          &:active
            color: $header-lang-active-c
            text-decoration: $header-lang-active-td

      &:hover
        span:last-child
          &:hover
            color: $header-lang-curr-hover-c
            text-decoration: $header-lang-curr-hover-td

          &:active
            color: $header-lang-curr-active-c
            text-decoration: $header-lang-curr-active-td

        ul
          display: block
  @else if $header == 2
    position: fixed
    left: 0
    right: 0
    top: 0

    &.disp-first
      background: transparent

    &__logo
      margin-right: $header-logo-mr
      line-height: 0

      img
        width: $header-logo-w

        @media (max-width: $mobile)
          width: 18rem

    &__box
      display: flex
      justify-content: space-between
      align-items: center
      max-width: $sitewidth

    &__block
      position: fixed
      left: 0
      top: 0
      width: calc(100% - #{$slider-form-width})
      background: $bg-c-header
      height: 100vh
      overflow: auto
      padding: $header-block-p
      transform: translateX(-100%)
      transition: all .4s

      &.js-active
        transform: translateX(0)

      @media (max-width: 1100px)
        width: 100%

      @media (max-width: $pad)
        padding: 4vh 2rem

      &--line
        display: flex
        justify-content: flex-end
        align-items: center
        position: relative

        .header__lang:hover ul
          display: flex

        .header__lang--list
          position: relative
          transform: none
          left: auto
          top: auto
          display: flex
          justify-content: space-between
          align-items: center
          padding: 0

          li
            margin-left: 2rem

            &.active
              a
                filter: brightness(1)

      &--close
        width: 2rem
        height: 2rem
        position: absolute
        left: 0
        top: 0
        cursor: pointer

        &:before,
        &:after
          content: ''
          position: absolute
          top: 50%
          left: 50%
          height: 5px
          width: 100%
          border-radius: 2px
          background: $header-close-bg-c
          transition: all .4s

        &:after
          transform: translate(-50%, -50%) rotate(45deg)

        &:before
          transform: translate(-50%, -50%) rotate(-45deg)

        &:hover
          &:before, &:after
            background: $header-close-bg-c-h

      &--footer
        margin-top: $header-footer-mt

        @media (max-width: $padmini)
          margin-top: 3rem

      &--email
        margin-top: $header-email-mt

        a
          +mx-text($ff: $header-email-ff, $fz: $header-email-fz, $fw: $header-email-fw, $lts: $header-email-lts, $lh: $header-email-lh)
          color: $header-email-color
          text-decoration: $header-email-td

          &:hover
            color: $header-email-hover-c
            text-decoration: $header-email-hover-td

          &:active
            color: $header-email-active-c
            text-decoration: $header-email-active-td

      &--tel
        margin-top: $header-phone-mt

        a
          +mx-text($ff: $header-phone-ff, $fz: $header-phone-fz, $fw: $header-phone-fw, $lts: $header-phone-lts, $lh: $header-phone-lh)
          color: $header-phone-color
          text-decoration: $header-phone-td

          &:hover
            color: $header-phone-hover-c
            text-decoration: $header-phone-hover-td

          &:active
            color: $header-phone-active-c
            text-decoration: $header-phone-active-td

      &--addr
        margin-top: $header-addr-mt
        +mx-text($ff: $header-addr-ff, $fz: $header-addr-fz, $fw: $header-addr-fw, $lts: $header-addr-lts, $lh: $header-addr-lh)
        color: $header-addr-color

    &__menu
      display: flex
      justify-content: space-between
      width: 100%
      margin-top: $header-menu-mt

      @media (max-width: $padmini)
        flex-wrap: wrap
        margin-top: 3rem

      > li
        @media (max-width: $padmini)
          width: 100%

        > a
          +mx-text($ff: $header-menu-a-ff, $fz: $header-menu-a-fz, $fw: $header-menu-a-fw, $lts: $header-menu-a-lts, $lh: $header-menu-a-lh)
          color: $header-menu-a-color
          text-decoration: $header-menu-a-td
          text-transform: uppercase

          @media (max-width: $padmini)
            font-size: 16px

          &:hover
            color: $header-menu-a-hover-c
            text-decoration: $header-menu-a-hover-td

          &:active
            color: $header-menu-a-active-c
            text-decoration: $header-menu-a-active-td

      a
        +mx-text($ff: $header-submenu-a-ff, $fz: $header-submenu-a-fz, $fw: $header-submenu-a-fw, $lts: $header-submenu-a-lts, $lh: $header-submenu-a-lh)
        color: $header-submenu-a-color
        text-decoration: $header-submenu-a-td
        white-space: nowrap

        &:hover
          color: $header-submenu-a-hover-c
          text-decoration: $header-submenu-a-hover-td

        &:active
          color: $header-submenu-a-active-c
          text-decoration: $header-submenu-a-active-td

        @media (max-width: $padmini)
          font-size: 15px

      ul
        padding: $header-submenu-p

        @media (max-width: $padmini)
          padding: .5rem

        +mx-comp-bg-c($header-submenu-bg)

        > * + *
          margin-top: $header-submenu-a-mt

          @media (max-width: $padmini)
            margin-top: .5rem

    &__burger
      +mx-burger()
      margin-right: $burger-ml

      @media (min-width: 1350px)
        position: absolute
        left: $burger-ml
        top: 50%
        transform: translateY(-50%)

    &__right
      display: flex
      align-items: center

    &__icon
      +sprite($user)
      filter: grayscale(100%) brightness(1.5)
      display: none
      transition: all .4s

      &:hover
        filter: none

      &.active
        filter: none

      @media (max-width: $padmini)
        display: block
        margin-right: 2rem

    @media (max-width: $padmini)
      &:before
        content: ''
        display: block
        position: absolute
        top: 0
        left: 0
        background: $bg-c-header
        width: 100%
        height: 100%
        z-index: -1

    &__enter
      @media (max-width: $padmini)
        position: absolute
        top: 100%
        width: 100%
        left: 0
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        background: $bg-c-header
        padding: $header-enter-p
        transform: translateY(-100%)
        z-index: -2
        transition: all .4s

        &.active
          transform: translateY(0)

        a
          margin-left: 0
          padding: .5rem 2rem

    &__login
      +mx-text($ff: $header-login-ff, $fz: $header-login-fz, $fw: $header-login-fw, $lts: $header-login-lts, $lh: $header-login-lh)
      color: $header-login-color
      text-decoration: $header-login-td
      margin-left: $header-login-ml

      &:hover
        color: $header-login-hover-c
        text-decoration: $header-login-hover-td

      &:active
        color: $header-login-active-c
        text-decoration: $header-login-active-td

    &__register
      +mx-text($ff: $header-register-ff, $fz: $header-register-fz, $fw: $header-register-fw, $lts: $header-register-lts, $lh: $header-register-lh)
      color: $header-register-color
      text-decoration: $header-register-td
      margin-left: $header-register-ml

      &:hover
        color: $header-register-hover-c
        text-decoration: $header-register-hover-td

      &:active
        color: $header-register-active-c
        text-decoration: $header-register-active-td

    &__trade
      +mx-text($ff: $header-trade-ff, $fz: $header-trade-fz, $fw: $header-trade-fw, $lts: $header-trade-lts, $lh: $header-trade-lh)
      color: $header-trade-color
      text-decoration: $header-trade-td
      margin-left: $header-trade-ml

      &:hover
        color: $header-trade-hover-c
        text-decoration: $header-trade-hover-td

      &:active
        color: $header-trade-active-c
        text-decoration: $header-trade-active-td

    &__lang
      position: relative
      margin-left: $header-lang-curr-ml

      span:last-child
        padding-left: 1rem
        text-transform: uppercase
        line-height: 1
        padding-top: 1px

        +mx-text($ff: $header-lang-curr-ff, $fz: $header-lang-curr-fz, $fw: $header-lang-curr-fw, $lts: $header-lang-curr-lts, $lh: $header-lang-curr-lh)
        color: $header-lang-curr-color
        text-decoration: $header-lang-curr-td

      &--current
        cursor: pointer
        display: flex
        align-items: center
        filter: brightness(.5)

        &:hover
          filter: brightness(1)

          span:last-child
            color: $header-lang-curr-hover-c
            text-decoration: $header-lang-curr-hover-td

        &:active
          span:last-child
            color: $header-lang-curr-active-c
            text-decoration: $header-lang-curr-active-td

      &--list
        position: absolute
        left: 50%
        transform: translateX($s50)
        top: 100%
        padding: $header-lang-list-p
        +mx-comp-bg-c($bg-c-header)
        display: none

        a
          white-space: nowrap
          display: flex
          align-items: center
          +mx-text($ff: $header-lang-ff, $fz: $header-lang-fz, $fw: $header-lang-fw, $lts: $header-lang-lts, $lh: $header-lang-lh)
          color: $header-lang-color
          text-decoration: $header-lang-td
          filter: brightness(.5)
          transition: all 0s

          &:hover
            transition: all 0s
            filter: brightness(1)
            color: $header-lang-hover-c
            text-decoration: $header-lang-hover-td

          &:active
            transition: all 0s
            filter: brightness(1)
            color: $header-lang-active-c
            text-decoration: $header-lang-active-td

      &:hover
        ul
          display: block
    @media (max-width: $desktop)
      &__lang, &__login, &__trade
        margin-left: 1rem
  @else if $header == 3
    font-size: 3em

.header
  +mx-comp-bg($bg-header)
  +mx-comp-bg-c($bg-c-header)

  padding: $header-p
  position: relative
  z-index: 20

  +mx-header($header)