.news
  &__list
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-top: $news-list-mt
    text-align: left

  &__item
    width: $news-item-w
    +mx-border($news-item-border)
    transition: all .4s
    margin-bottom: $news-item-mb

    @media (max-width: $news-media-laptop)
      width: $news-laptop-w

    @media (max-width: $news-media-pad)
      width: $news-pad-w

    @media (max-width: $news-media-mobile)
      width: $news-mobile-w

    &:hover
      box-shadow: 0 0 10px 3px #ccc

  &__img
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    width: $news-img-w
    height: $news-img-h
    +mx-comp-bg-c($news-img-bg-c)

  &__text
    padding: $news-text-p

    &--title
      +mx-text($ff: $news-title-ff, $fz: $news-title-fz, $fw: $news-title-fw, $lts: $news-title-lts, $lh: $news-title-lh)
      color: $news-title-color

    &--excerpt
      +mx-text($ff: $news-excerpt-ff, $fz: $news-excerpt-fz, $fw: $news-excerpt-fw, $lts: $news-excerpt-lts, $lh: $news-excerpt-lh)
      color: $news-excerpt-color
      margin-top: $news-excerpt-mt

    &--more
      +mx-text($ff: $news-more-ff, $fz: $news-more-fz, $fw: $news-more-fw, $lts: $news-more-lts, $lh: $news-more-lh)
      color: $news-more-color
      margin-top: $news-more-mt
      text-decoration: underline
      display: inline-block