.slider
  +mx-comp-bg($bg-slider)
  +mx-comp-bg-c($bg-c-slider)

  &__item
    min-height: $slider-height
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    display: inline-flex !important
    align-items: center

  &__title,
  &__text
    max-width: $slider-text-width

    @media (max-width: $pad)
      max-width: 90rem

  &__title
    +mx-text($ff: $slider-title-ff, $fz: $slider-title-fz, $fw: $slider-title-fw, $lts: $slider-title-lts, $lh: $slider-title-lh)

    color: $slider-title-color

    @media (max-width: $padmini)
      font-size: $slider-title-fz*.8

  &__text
    letter-spacing: $slider-text-lts

    +mx-text($ff: $slider-text-ff, $fz: $slider-text-fz, $fw: $slider-text-fw, $lts: $slider-text-lts, $lh: $slider-text-lh)

    color: $slider-text-color
    margin-top: $slider-text-mt

    @media (max-width: $padmini)
      font-size: $slider-text-fz*.85

  &__link
    +mx-btn($color: $slider-btn-c, $color-h: $slider-btn-c-h, $color-a: $slider-btn-c-a, $color-d: $slider-btn-c-d, $border: $slider-btn-border, $border-r: $slider-btn-radius, $border-c: $slider-btn-border-c, $border-c-h: $slider-btn-border-c-h, $border-c-a: $slider-btn-border-c-a, $border-c-d: $slider-btn-border-c-d, $width: $slider-btn-w, $height: $slider-btn-h, $ff: $slider-btn-ff, $fz: $slider-btn-fz, $fw: $slider-btn-fw, $lts: $slider-btn-lts, $lh: $slider-btn-lh, $padding: $slider-btn-p, $top: $slider-btn-top, $bg: $slider-btn-bg, $bg-c-a: $slider-btn-bg-a, $bg-c-h: $slider-btn-bg-h, $bg-c-d: $slider-btn-bg-d)

  &__form
    position: absolute
    top: 50%
    transform: translateY($s50) translateX(-100%) translateZ(-1px)
    width: $slider-form-width
    padding: $slider-form-p
    left: calc(50% + #{$sitewidth} / 2)
    +mx-comp-bg-c($slider-form-bg)
    +mx-border($slider-form-border)

    &--title
      +mx-text($ff: $slider-form-title-ff, $fz: $slider-form-title-fz, $fw: $slider-form-title-fw, $lts: $slider-form-title-lts, $lh: $slider-form-title-lh)
      color: $slider-form-title-c
      text-align: center

    &--subtitle
      +mx-text($ff: $slider-form-subtitle-ff, $fz: $slider-form-subtitle-fz, $fw: $slider-form-subtitle-fw, $lts: $slider-form-subtitle-lts, $lh: $slider-form-subtitle-lh)
      color: $slider-form-subtitle-c
      text-align: center

    @media(max-width: $sitewidthPx)
      transform: translateY(calc(-50% - .25px))
      left: auto
      right: 3rem

    @media (max-width: $pad)
      display: none