@import "../config/general"
@import "../components/form"

.first
  padding-top: 5rem
  padding-bottom: 5rem

  &__title
    font-size: 3rem
    text-align: center

  &__block
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 4rem

  &__form
    width: 36rem

    &--title
      font-size: 2rem
      text-align: center

  &__left
    width: calc(100% - 40rem)

    &--title
      font-size: 2.2rem

    >*+*
      margin-top: 2rem

  &__list
    font-size: 16px
    list-style-type: disc
    padding-left: 1.7rem
    margin-top: 2rem

    >*+*
      margin-top: 1rem

.sec
  background: #fff
  padding: 5rem 0

  &__title
    font-size: 3rem
    text-align: center

.third
  padding-top: 5rem
  padding-bottom: 5rem

  &__title
    font-size: 3rem
    text-align: center
    margin-bottom: 3rem

  &__text
    margin-top: 1.5rem
    font-size: 1.8rem

.four
  background: #fff
  padding: 5rem 0

  &__form
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

    .form
      &__row
        width: 48%

        &.terms
          width: 100%

      &__btn
        max-width: 30rem
        min-width: auto
        width: 100%
        margin: 0 auto
        margin-top: 3rem

    p.error
      width: 100%

    &--title
      font-size: 3rem
      text-align: center
      width: 100%

.last
  text-align: center
  padding: 3rem